@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
:root {
  --black: #151515;
  --green: #4ee1a0;
  --grey: #242424;
  --lightgrey: #d9d9d9;
  --white: #fff;
  --border: #979797;

  --headingXL: 88px;
  --headingL: 48px;
  --headingM: 24px;
  --paragraph: 18px;
}
body {
  font-family: "Space Grotesk", sans-serif;
  background-color: var(--black);
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
}
header {
  max-width: 375px;
  padding-top: 20px;
  padding-left: 111px;
  padding-right: 110px;
}

i {
  color: var(--white);
  font-size: 16px;
}
i:hover {
  color: var(--green);
}
.frontend {
  width: 19.68px;
}
ul {
  display: flex;
  gap: 25.6px;
}
.header {
  width: 154px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
h1 {
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.33px;
  text-align: center;
}
/* section1 */
.section1 {
  position: relative;
  max-width: 375px;
  min-height: 499px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 0 16px;
}
.group26 {
  position: absolute;
  top: 17px;
  right: 180px;
  height: 129px;
  width: 430px;
}
.oval {
  position: absolute;
  top: 162px;
  left: 311px;
  width: 129px;
}
.profileimage {
  width: 174.21px;
  margin: auto;
  margin-top: 49px;
  margin-bottom: 40px;
  filter: grayscale(100%);
}
button {
  border: none;
  padding-bottom: 10px;
  border-bottom: 2px solid var(--green);
  background-color: var(--black);
  color: var(--white);
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 2.29px;
  line-height: 26px;
  text-transform: uppercase;
}
.maintxt {
  max-width: 343px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mainttl {
  font-size: 40px;
  text-align: center;
  letter-spacing: -1.14px;
  line-height: 40px;
  border-bottom: 4px solid var(--green);
}
.mainp {
  color: var(--lightgrey);
  text-align: center;
  font-size: 16px;
  line-height: 26px;
  margin-top: 20px;
  margin-bottom: 24px;
}
/* section2 */
.section2 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 375px;
  align-items: center;
  margin-top: 80px;
  padding: 40px 16px;
  border-top: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
}
.exp {
  display: flex;
  flex-direction: column;
  gap: 1px;
  align-items: center;
}
.s2ttl {
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -1px;
}
.s2p {
  margin: 0;
}
/* section3 */
.section3 {
  max-width: 375px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 80px 16px;
}
.s3header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.s3ttl {
  border: none;
}
.card {
  display: flex;
  flex-direction: column;
}
.cardimg {
  position: relative;
  overflow: hidden;
}
.overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  inset: 0;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 48px;
  opacity: 0;
  transition: 0.3s;
}
.cardimg:hover .overlay {
  opacity: 1;
}

.deskbtn {
  background: transparent;
}
.btn {
  background: transparent;
}
button:hover {
  color: var(--green);
  cursor: pointer;
}
.cardp {
  display: flex;
  gap: 18px;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 20px;
  line-height: 28px;
  font-weight: 500;
}
.cardbtns {
  display: flex;
  gap: 30px;
}
.cards {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.s3h3 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 7px;
}
/* footer */
footer {
  background-color: var(--grey);
  max-width: 375px;
  padding: 60px 16px;
  display: flex;
  flex-direction: column;
  gap: 87px;
  align-items: center;
}
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
input {
  width: 100%;
  background-color: var(--grey);
  color: var(--lightgrey);
  border: none;
  outline: none;
  border-bottom: 1px solid var(--white);
  height: 43px;
  padding-left: 24px;
  padding-bottom: 17px;
  font-size: 16px;
  line-height: 26px;
}
input:focus {
  border-bottom: 1px solid var(--green);
}
input:invalid {
  border-bottom: 1px solid rgba(255, 111, 91, 1);
}
.bigtxt {
  height: 107px;
}
form button {
  background-color: var(--grey);
  margin-left: 199px;
}
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.conttext {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.conttext p {
  margin: 0;
}
.conttext h2 {
  font-size: 40px;
  letter-spacing: -1.14px;
  line-height: 40px;
}
footer .header {
  padding-top: 39px;
}
.headercontent {
  border-top: 1px solid var(--white);
  padding-left: 95px;
  padding-right: 94px;
}

@media (min-width: 768px) {
  header {
    max-width: 768px;
    width: 768px;
    padding: 29px;
    padding-bottom: 0;
    justify-content: center;
  }

  .header {
    min-width: 708.49px;
    flex-direction: row;
    justify-content: space-between;
  }
  ul {
    width: 192.49px;
    justify-content: space-between;
    gap: 32px;
  }
  h1 {
    font-size: 32px;
    letter-spacing: -0.44px;
  }
  .section1 {
    max-width: 768px;
    flex-direction: row;
    padding: 90px 291px 60px 32px;
    position: relative;
  }
  .group26 {
    top: 33px;
    right: 450px;
    height: 129px;
    width: 430px;
  }
  .oval {
    top: 410px;
    left: 702px;
    width: 129px;
  }
  .profileimg {
    width: 350px;
    height: 486px;
  }
  .profileimage {
    display: flex;
    align-items: flex-end;
    width: 322px;
    height: 600px;
    position: absolute;
    z-index: -1;
    top: -61px;
    right: 0;
    margin: 0;
    background-color: var(--grey);
  }
  .maintxt {
    max-width: 445px;
    align-items: flex-start;
  }
  .mainttl {
    width: 100%;
    font-size: 72px;
    letter-spacing: -2.05px;
    line-height: 72px;
    text-align: left;
  }
  .mainp {
    text-align: left;
    margin-top: 60px;
    margin-bottom: 34px;
    font-size: 18px;
    line-height: 28px;
    width: 100%;
  }
  .section2 {
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 768px;
    padding: 52px 30px 100px 30px;
    gap: 0;
    row-gap: 52px;
    column-gap: 7px;
    margin: 0;
    border-bottom: none;
  }
  .s2p {
    font-size: 18px;
    line-height: 28px;
    margin: 0;
  }
  .s2ttl {
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -1.5px;
    margin: 0;
    text-align: left;
  }
  i {
    transform: scale(1.3);
  }
  .frontend {
    width: 21px;
  }
  .exp {
    width: 345px;
    height: 98px;
    justify-content: center;
    margin: 0;
    gap: 14px;
    align-items: flex-start;
  }
  .section3 {
    max-width: 768px;
    padding: 100px 30px;
    padding-top: 0;
    gap: 60px;
  }
  .cards {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0;
    column-gap: 24px;
    row-gap: 60px;
  }
  .card {
    max-width: 342px;
  }
  .s3header {
    align-items: center;
  }
  footer {
    max-width: 768px;
    padding: 60px 30px 40px 30px;
    gap: 92px;
  }
  .contact {
    padding-left: 133px;
    padding-right: 131px;
  }
  .contact h2 {
    font-size: 72px;
    line-height: 72px;
    letter-spacing: -2.05px;
  }
  form button {
    margin-left: 300px;
  }
  footer .header {
    padding-top: 30px;
    align-items: flex-end;
  }
  .headercontent {
    padding: 0;
  }
}
@media (min-width: 1440px) {
  header {
    width: 100%;
    max-width: 1440px;
    display: flex;
    justify-content: center;
    padding: 0;
    padding-top: 39px;
  }
  .header {
    width: 1080.5px;
    max-width: 1080.5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .group26 {
    top: 62px;
    right: 1010px;
    height: 129px;
    width: 430px;
  }
  .oval {
    top: 450px;
    left: 766px;
    width: 129px;
  }
  h1 {
    font-size: 32px;
    letter-spacing: -0.44px;
  }
  .section1 {
    width: 1440px;
    max-width: 1440px;
    flex-direction: row;
    padding: 127px 569px 104px 165px;
    position: relative;
  }
  .profileimg {
    width: 444.88px;
    height: 618px;
  }
  .profileimage {
    display: flex;
    align-items: flex-end;
    width: 445px;
    height: 720px;
    position: absolute;
    z-index: -1;
    top: -70px;
    right: 165px;
    margin: 0;
    background-color: var(--grey);
  }
  .maintxt {
    max-width: 706px;
    align-items: flex-start;
    padding-bottom: 115px;
  }
  .mainttl {
    width: 100%;
    font-size: 88px;
    letter-spacing: -2.5px;
    line-height: 88px;
    text-align: left;
  }
  .mainp {
    text-align: left;
    margin-top: 43px;
    margin-bottom: 66px;
    font-size: 18px;
    line-height: 28px;
    width: 445px;
  }
  .overlay {
    display: flex;
  }
  .section2 {
    flex-direction: row;
    flex-wrap: wrap;
    width: 1440px;
    max-width: 1440px;
    padding: 72px 165px 140px 165px;
    gap: 0;
    row-gap: 58px;
    column-gap: 30px;
    margin: 0;
    border-bottom: none;
  }
  .s2p {
    font-size: 18px;
    line-height: 28px;
    margin: 0;
  }
  .s2ttl {
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -1.5px;
    margin: 0;
    text-align: left;
  }
  .exp {
    width: 345px;
    height: 98px;
    justify-content: center;
    margin: 0;
    gap: 14px;
    align-items: flex-start;
  }
  .section3 {
    width: 1440px;
    max-width: 1440px;
    padding: 0 165px 139px 165px;
    padding-top: 0;
    gap: 80px;
  }
  .cardimage:hover {
    transform: scale(1.05);
  }
  .cards {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0;
    column-gap: 30px;
    row-gap: 69px;
  }
  .card {
    max-width: 540px;
  }
  .cardbtns {
    display: none;
  }
  .s3header {
    align-items: center;
  }
  footer {
    width: 1440px;
    max-width: 1440px;
    padding: 84px 165px 92px 165px;
    gap: 92px;
  }
  .contact {
    flex-direction: row;
    gap: 220px;
    align-items: flex-start;
    padding: 0;
  }
  .conttext {
    gap: 36px;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .contact h2 {
    font-size: 88px;
    line-height: 88px;
    letter-spacing: -2.5px;
  }
  form button {
    margin-left: 301px;
  }
  footer .header {
    padding-top: 47px;
    align-items: flex-end;
    width: 1110.49px;
    max-width: 1110.49px;
    justify-content: space-between;
  }
  i {
    transform: scale(1.5);
  }
  nav {
    height: 32px;
  }
}
